# Copiez ce fichier en ".env" et remplissez avec les valeurs de votre projet Supabase
# (Supabase Dashboard > Project Settings > API)

VITE_SUPABASE_URL=https://srgwjypfadlzvpubcqzb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
